Flask==3.1.0
httptools==0.6.4
langchain-community==0.3.17
openai==1.63.0
rank-bm25==0.2.2
setuptools==58.0.4
tiktoken==0.9.0
uvloop==0.21.0
watchfiles==1.0.4
websockets==14.2
gunicorn==21.2.0
cohere==5.13.12
pinecone==5.4.2
pinecone-text==0.9.0
nltk==3.9.1
numpy==1.26.4
SQLAlchemy==2.0.38
sqltrie==0.11.1
psycopg2-binary==2.9.10
psycopg2==2.9.10